.header__logo {
    width: 176px;
    height: 52px;
    padding: 0;
    margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
    .header__logo {
        width: calc(142px + (176 - 142)*((100vw - 320px)/(767.9 - 320)));
        height: calc(42px + (52 - 42)*((100vw - 320px)/(767.9 - 320)));
    }
}