.lead__subtitle {
    max-width: 640px;
    padding-top: 32px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        max-width: calc(288px + (640 - 288)*((100vw - 320px)/(767 - 320)));
        font-size: calc(16px + (30 - 16)*((100vw - 320px)/(767 - 320)));
        line-height: calc(20px + (36 - 20)*((100vw - 320px)/(767 - 320)));
        padding-top: calc(16px + (32 - 16)*((100vw - 320px)/(767 - 320)));
    }
}